# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/figures/*
outputs/predictions/*
!outputs/figures/.gitkeep
!outputs/predictions/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Model artifacts
*.pkl
*.joblib
